.obavestenje-id{
    padding: 0.5%;
    margin: auto;
    margin-top: 1%;
    width: 70%;
    background-color: white;
    font-family: roboto;
    font-size: 1rem;
    border-radius: 3%;
    padding: 1%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 2%;
}
.obavestenje-id-tittle{
    background: #1976d2;
    background: linear-gradient(90deg, rgb(0, 70, 141) 51%, rgba(124,189,255,1) 95%);
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1%;
    padding: 0.5%;
    color: white;
    text-align: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.obavestenje-id-content{
    font-size: 1rem;
    text-align:inherit;
    color: rgb(25,118,210);
}
.obavestenje-id-time{
    font-size: 0.8rem;
    color: rgb(168, 168, 168);
}
.obavestenje-id img{
    width: 30%;
    height: 50%;
    border-radius: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}