@font-face {
    font-family: roboto;
    src: url(../../../public/fonts/Roboto-Medium.ttf);
}
.edit-profil{
    padding: 0.5%;
    width: 50%;
    height: 30rem;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: white;
    font-family: roboto;
}
.edit-profil h2{
    background: rgb(25,118,210);
    background: linear-gradient(90deg, rgb(0, 70, 141) 51%, rgba(124,189,255,1) 95%);
    width: 100%;
    padding: 0.5%;
    color: white;
    text-align: left;
    font-family: roboto;
}
.edit-profil-into h3{
    margin: auto;
    margin-top: 2%;
    color: rgb(25,118,210);
}
.edit-profil-into input{
    width: 30%;
    height: 2rem;
    padding: 1%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-family: roboto;
    background-color: gainsboro;
}


.dropdown {
    position: relative;
    width: 30%;
    margin: auto;
    background-color: gainsboro;
    margin-top: 3%;
}

.dropdown button {
    width: 100%;
    height: 2rem;
    padding: 1%;
    text-align: left;
    cursor: pointer;
    background-color: gainsboro;
    font-family: roboto;
    transition: background-color 0.3s;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.5rem;
    z-index: 1;
}


.dropdown-menu label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgb(50, 50, 50);
    font-family: roboto;
    cursor: pointer;
}
.dropdown-menu input{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 10%;
}
