@font-face {
  font-family: roboto;
  src: url(../../../public/fonts/Roboto-Medium.ttf);
}
.offer-buttons{
  width: 15%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-ponude{
  background-color: white;
  width: 95%;
  margin: auto;
  font-family: roboto;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 20%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.my-ponude h2{
  width: 99%;
  margin: auto;
  text-align: left;
  padding-left: 1%;
  margin-bottom: 0.5%;
  background: rgb(25,118,210);
  background: linear-gradient(90deg, rgb(0, 70, 141) 51%, rgba(124,189,255,1) 95%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: white;
}
.my-ponude span{
  color: rgb(0, 70, 141);
}
table {
  width: 99%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
table th{
  color: white;
}
table th, table td {
  border: 1px solid rgb(158, 158, 158);
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

table th {
  background-color: white;
}

.filters {
  width: 99%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1%; 
  background-color: gainsboro;
  margin-bottom: 20px; 
}

.filters label {
  display: flex;
  flex-direction: column; 
  font-size: 1.5rem; 
}

.filters select {
  margin-top: 2%; 
  padding: 5%; 
  border: 1px solid #ccc; 
  border-radius: 0.5rem;
  background-color: white; 
  cursor: pointer; 
}

.filters select:focus {
  outline: none; 
  border-color: #1976d2; 
  box-shadow: 0 0 4px rgba(25, 118, 210, 0.5); 
}

.filters span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1976d2; 
  cursor: pointer;
}

.filters span:hover {
  color: #004ba0; 
  transform: scale(1.1); 
  transition: all 0.2s ease-in-out; 
}
