@font-face {
  font-family: 'Roboto';
  src: url('../../../public/fonts/Roboto-Medium.ttf');
}

.offer-buttons {
  width: 40%;
  margin: auto;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offer-list {
  background-color: white;
  width: 95%;
  margin: 2% auto 20rem;
  font-family: 'Roboto', sans-serif;
  padding: 0.5%;
}

.offer-list h2 {
  width: 99%;
  margin: auto;
  text-align: left;
  padding-left: 1%;
  margin-bottom: 0.5%;
  background: linear-gradient(90deg, rgb(0, 70, 141) 51%, rgba(124, 189, 255, 1) 95%);
  color: white;
  font-size: 1.8rem;
}

.offer-list span {
  color: rgb(0, 70, 141);
  font-weight: bold;
}

table {
  width: 99%;
  margin: auto;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid rgb(158, 158, 158);
  padding: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
}

table th {
  background-color: rgb(0, 70, 141);
  color: white;
  font-size: 1rem;
}

.filters {
  width: 99%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  background-color: gainsboro;
}

.filters label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(60, 60, 60);
}

.filters select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
}

.filters select:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 4px rgba(25, 118, 210, 0.5);
}

.filters span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1976d2;
  cursor: pointer;
  font-size: 1.2rem;
}

.filters span:hover {
  color: #004ba0;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
