@font-face {
    font-family: roboto;
    src: url(../../../public/fonts/Roboto-Medium.ttf);
  }
.offer-card{
    padding: 0.5%;
    margin: auto;
    margin-top: 1%;
    width: 60%;
    height: 50rem;
    background-color: white;
    font-family: roboto;
    font-size: 1rem;
    border-radius: 3%;
    padding: 1%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offer-card-route-tittle{
    background: #1976d2;
    background: linear-gradient(90deg, rgb(0, 70, 141) 51%, rgba(124,189,255,1) 95%);
    width: 100%;
    height: 2.5rem;
    padding: 1%;
    color: white;
    text-align: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offer-card-route-company{
    display: flex;
    margin-top: 1%;
    background-color:gainsboro;
    text-align: left;
    padding: 1%;
    height: 6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.edit-button {
    width: 25%;
    margin: auto;
    gap: 1rem;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.offer-card-route-company-img{
    margin-right: 1%;
}

.offer-card-route-company-img img {
        width:60px; 
        height: auto; 
        object-fit: contain; 
}
.offer-card-route-user-info-contact span{
    color: black;
}
.offer-card-route-company-text h3{
    font-size: 1.3rem;
    color: rgb(25,118,210);
}
.offer-card-route-company-text h5{
    font-weight: lighter;
}
.offer-card-route-company-text P{
    font-size: 1rem;
    width: 7rem;
    padding: 1%;
    font-weight: bold;
    background-color:  rgb(25,118,210);;
    color: white;
}
.offer-card-route-user{
    margin-top: 1%;
}
.offer-card-route-user h3{
    background: rgb(25,118,210);
    background: linear-gradient(90deg, rgb(0, 70, 141) 51%, rgba(124,189,255,1) 95%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
    height: 2.5rem;
    padding: 1%;
    color: white;
    text-align: left;
}
.offer-card-route-user-info{
    display: flex;
    margin-top: 1%;
    background-color:gainsboro;
    text-align: left;
    padding: 1%;
    height: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offer-card-route-user-info h2{
    font-size: 1.3rem;
}
.offer-card-route-user-info-img{
    margin-right: 1%;
}
.offer-card-route-user-info-img img {
    width: 3.75rem;      
    height: 3.75rem;     
    object-fit: cover;   
    border-radius: 50%;  
    display: block;      
}
.offer-card-route-user-info-text h2{
    font-size: 1.2rem;
    color: rgb(25,118,210);
}
.offer-card-route-user-info-text p{
    font-size: 0.8rem;
}
.offer-card-route-user-info-contact{
    margin-left: auto;
}
.offer-card-route-user-info-contact p{
    font-size: 1rem;
    text-align: right;
    color: rgb(25,118,210)
}
.offer-card-route-load{
    width: 100%;
    height: 15rem;
    background-color: gainsboro;
    margin-top: 1%;
}
.offer-card-route-load h3{
    background: rgb(25,118,210);
    background: linear-gradient(90deg, rgb(0, 70, 141) 51%, rgba(124,189,255,1) 95%);
    width: 100%;
    height: 2.5rem;
    padding: 1%;
    color: white;
    text-align: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.offer-card-route-load-text{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}
.offer-card-route-load-text h4{
    font-size: 1.1rem;
    color: rgb(25,118,210);
    margin-bottom: 1%;
}
.offer-card-route-load-text p{
    font-size: 1rem;
    margin-bottom: 1%;
}
.load-dimensions,
.load-route,
.load-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0 1rem;
}

.leaflet-routing-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: none !important;
}