.navbar {
    height: 7vh;
    padding: 0 2% 0 2%;
    background-color: #1976d2;
    display: flex;
    color: white;
    align-items: center;
    font-size: 80%;
    justify-content: space-between;
    font-family: roboto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 1rem;
  }

  @font-face {
    font-family: dosis;
    src: url(../../../public/fonts/Dosis-Bold.ttf);
  }
  @font-face {
    font-family: roboto;
    src: url(../../../public/fonts/Roboto-Medium.ttf);
  }
  .links {
    width: 18%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1rem;
    text-decoration: none;
    list-style-type: none;
  }
  .links h3{
    margin: 5%;
  }
  .login {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }